body {
	background-color: #111116;
	color: #888892;
	font-size: 16px;
	line-height: 1.6;
	margin: 0;
	max-width: 800px;
	padding: 0;
}

canvas {
	background: #555;
	display: block;
	margin: 0 auto;
}

h1, h2, h3 {
	line-height: 1.2;
}

html {
	margin: 0;
	padding: 0;
}
